{% extends 'base.html' %}
{% block content %}
  <h2>Patches Installed Per Year</h2>
  <canvas id="patchesChart" width="600" height="400">

  </canvas>

  <script> 
const ctx = document.getElementById('patchesChart').getContext('2d');
  const patchChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: {{ labels|safe }},
      datasets: [{
        label: 'Patched Devices',
        data: {{ data|safe }},
        backgroundColor: 'rgba(75, 192, 192, 0.6)',
        borderColor: 'rgba(75, 192, 192, 1)',
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true,
          title: {
            display: true,
            text: 'Number of Devices'
          }
        },
        x: {
          title: {
            display: true,
            text: 'Year'
          }
        }
      }
    }
  });
  </script>
{% endblock %}